<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',
                 filename='styles/base.css') }}">
    {% block styles %}{% endblock %}
    <h1 class="app__title">Obsidian Leaf Recipes</h1>
    <nav>
        <div class="navigation__container">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('home') }}">
                    <button class="navigation">
                        Shopping list
                    </button>
                </a>
                <a href="{{ url_for('newrecipe') }}">
                    <button class="navigation">
                        New Recipe
                    </button>
                </a>
                <a href="{{ url_for('ingredients') }}">
                    <button class="navigation">
                        Ingredients
                    </button>
                </a>
                <a href="{{ url_for('account') }}">
                    <button class="navigation">
                        Account
                    </button>
                </a>
                {% if current_user.role == 'admin' %}
                    <a href="{{ url_for('admin') }}">
                        <button class="navigation">
                            Admin
                        </button>
                    </a>
                {% endif %}
                <a href="{{ url_for('logout') }}">
                    <button class="navigation">
                        Logout
                    </button>
                </a>
            {% else %}
                <a href="{{ url_for('login') }}">
                    <button class="navigation">
                        Login
                    </button>
                </a>
                <a href="{{ url_for('register') }}">
                    <button class="navigation">
                        Register
                    </button>
                </a>
            {% endif %}
        </div>
    </nav>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash__message">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>
