/*
 * Template used when creating a new ingredient.
 *
 * It is hidden until the user presses
 * "New ingredient".
 */

.new__recipe__content {
    display: none;
}


#ingredientContainer {
    display: grid;

    grid-template-columns:
        repeat(
            auto-fill,
            minmax(200px, 1fr)
        );

    grid-gap: 1em;

    padding-top: 1em;
    padding-bottom: 1em;
}


.new__recipe__content__format,
.update__recipe__content {
    padding-top: 1em;

    background-color:
        rgb(
            178,
            251,
            165
        );
}


.update__recipe__content__format {
    padding-top: 1em;

    background-color:
        rgb(
            178,
            251,
            165
        );
}